@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
	--main-family: 'Poppins', sans-serif;
	--color-bg: linear-gradient(180deg, #1393e1, #51ade7bd);
	--color-primary: #1393e1;
	--color-secondary: #51ade7bd;
}

body {
	background-color: #fff;
	color: #444;
  display: grid;
	font-family: 'Poppins', sans-serif;
  grid-template-rows: auto 1fr auto;
	line-height: 1.5;
  margin: 0 auto; 
	min-height: 100vh; 
	overflow-wrap: break-word;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}
h1 {
	color: #395fb9;
}
h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
  color: var(--color-primary);
}
a {
	color: #0F63B9;
	text-decoration: none;
	font-weight: 500;
}
a:hover {
	color: #0c4782;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
.container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}
@media (min-width: 600px) {
	.container {
		max-width: 800px;
		padding: 0 20px;
	}
}
