---
import BaseLayout from '../layouts/BaseLayout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Campus from '../components/Campus.vue'
const title = "Matriculació al Campus del Creu Alta"
---
<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h2>{title}</h2>
  <main class="container">
    <Campus />
  </main>
  <a href="/">Inici</a>
</BaseLayout>