---
import BaseLayout from '../layouts/BaseLayout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
const title = "Contacte"
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>{title}</h1>
  <form 
    netlify
    netlify-honeypot="bot-field"
    name="Formulari de contacte"
    method="POST" 
    action="/success" 
    accept-charset="UTF-8" 
    >
    <p class="hidden">
      <label>
        Don’t fill this out if you're human: <input name="bot-field" />
      </label>
    </p>
    <input type="hidden" name="form-name" value="Formulari de contacte">
    <p>
      Pots enscriure'ns directament al correu electrònic <a href="mailto:secretaria@creualtabasquet.cat">secretaria@creualtabasquet.cat</a>
    </p>
    <p>
      O bé, ens podeu deixar un missatge utilitzant el formulari de contacte de sota.
    </p>
    <div>
      <div class="form-item" id="edit-name-wrapper">
        <label for="edit-name">El teu nom: <span class="form-required" title="Aquest camp és obligatori.">*</span></label>
        <input type="text" maxlength="255" name="name" id="edit-name" size="60" value="" class="form-text required">
      </div>
      <div class="form-item" id="edit-mail-wrapper">
        <label for="edit-mail">Adreça electrònica: <span class="form-required" title="Aquest camp és obligatori.">*</span></label>
        <input type="text" maxlength="255" name="mail" id="edit-mail" size="60" value="" class="form-text required">
      </div>
      <div class="form-item" id="edit-subject-wrapper">
        <label for="edit-subject">Assumpte: <span class="form-required" title="Aquest camp és obligatori.">*</span></label>
        <input type="text" maxlength="255" name="subject" id="edit-subject" size="60" value="" class="form-text required">
      </div>
      <div id="edit-message-wrapper">
        <label for="edit-message">Missatge: <span class="form-required" title="Aquest camp és obligatori.">*</span></label>
        <div class="resizable-textarea">
          <span>
            <textarea cols="60" rows="5" name="message" id="edit-message" class="form-textarea resizable required textarea-processed"></textarea>
          </span>
        </div>
      </div>
      <input type="submit" name="op" id="edit-submit" value="ENVIA" class="form-submit">
    </div>
  </form>
</BaseLayout>

<style>
  .hidden {
    display: none;
  }
  .form-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
</style>