---
import BaseLayout from '../layouts/BaseLayout.astro'
import Sections from '../components/Sections.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

const ultima = (await Astro.glob('./noticies/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
)[0];
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>

  <div class="w-full my-8">
    <img src="/images/tothom.jpg" alt="Foto del Club" 
      class="rounded-lg mx-auto">
  </div>
  
  <Sections />

  {ultima && (
    <a 
      href={ultima.url} 
      class="group ultima-noticia text-center mb-8 border-4 border-blue-300 rounded-xl p-4 shadow-lg w-full hover:bg-blue-300">
      <h3 class="font-bold text-gray-800 group-hover:text-white">Última notícia: {ultima.frontmatter.title}</h3>
    </a>
  )}

</BaseLayout>