---
import BaseLayout from '../layouts/BaseLayout.astro'
import Sections from '../components/Sections.astro'
import Sponsors from '../components/Sponsors.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="hero">
    <img src="/images/tothom.jpg" alt="Foto del Club">
  </div>
  
  <Sections />
  <Sponsors />
</BaseLayout>

<style lang="scss">
  $primary-color: #1F71B6;
  h2 {
    color: $primary-color;
    text-align: center;
  }
  .hero {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 100vh;
  }
  .hero img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }
</style>