---
import { SITE_TITLE } from '../config'
const today = new Date();
---

<footer class="bg-blue-100 text-xs text-center">
	<div class="container flex flex-col sm:flex-row justify-between p-4 sm:p-8">
		<div><a href="/legal">Legal</a></div>
		<div><a href="/contacte">Contacte</a></div>
		<div><a href="https://twitter.com/CreuAltaBasquet" target="_blank" title="Twitter">Twitter</a></div>
		<div><a href="https://www.instagram.com/creualtabasquet" target="_blank" title="Instagram">Instagram</a></div>
		<div><a href="/rss.xml">RSS</a></div>
		<div>&copy; {today.getFullYear()} <a href="/">{ SITE_TITLE }</a></div>
		<!-- <div><a href="/api/joke">Explica'm un acudit</a></div> -->
	</div>
</footer>

<style lang="scss">
	a {
		@apply text-blue-900 no-underline;
	}
</style>
