---
const today = new Date();
---

<footer>
	<p><a href="/legal">Nota Legal</a></p>
	<p>&copy; {today.getFullYear()} Creu Alta Sabadell Bàsquet</p>
</footer>

<style>
	footer {
		background-color: #7dbbebbb;
		font-size: 0.8rem;
		margin-top: 2rem;
		padding: 2rem;
		text-align: center;
	}
</style>
