---
import { SITE_TITLE } from '../config'
const today = new Date();
---

<footer>
	<div class="container">
		<div><a href="/legal">Legal</a></div>
		<div><a href="/contacte">Contacte</a></div>
		<div><a href="https://twitter.com/CreuAltaBasquet" target="_blank" title="Twitter">Twitter</a></div>
		<div><a href="https://www.instagram.com/creualtabasquet" target="_blank" title="Instagram">Instagram</a></div>
		<div><a href="/rss.xml">RSS</a></div>
		<div>&copy; {today.getFullYear()} <a href="/">{ SITE_TITLE }</a></div>
		<!-- <div><a href="/api/joke">Explica'm un acudit</a></div> -->
	</div>
</footer>

<style lang="scss">
	footer {
		background-color: #8db9da3c;
		font-size: 0.8rem;
		text-align: center;

		.container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 1rem;
			
			@media (min-width: 600px) {
				flex-direction: row;
				padding: 2rem;
			}
			.group {
				display: flex;
				justify-content: space-between;
			}
			
			img {
				width: 1.5rem;
				display:inline-block; 
				align: center;
				vertical-align: middle;
				margin-right: 0.4rem;
				filter: invert(1);
			}
		}
		a {
			color: var(--color-primary);
			text-decoration: none;
		}
	}
</style>
