---
const today = new Date();
---

<footer>
	<p>
		<a href="/legal">Nota Legal</a> - 
		<a href="/api/joke">Explica'm un acudit</a> - 
		&copy; {today.getFullYear()} Creu Alta Sabadell Bàsquet
	</p>
</footer>

<style lang="scss">
	footer {
		background-color: #8db9da3c;
		font-size: 0.8rem;
		margin-top: 2rem;
		padding: 2rem;
		text-align: center;

		a {
			color: var(--color-primary);
			font-weight: bold;
			text-decoration: none;
		}
	}
</style>
