---
const today = new Date();
---

<footer>
	<div class="container">
		<div><a href="/legal">Nota Legal</a></div>
		<div><a href="mailto:secretaria@creualtabasquet.cat">
			<img src="/images/mail.svg" alt="email"/>
			secretaria@creualtabasquet.cat</a></div>
		<div>&copy; {today.getFullYear()} Creu Alta Sabadell Bàsquet</div>
		<div><a href="/api/joke">Explica'm un acudit</a></div>
	</div>
</footer>

<style lang="scss">
	footer {
		background-color: #8db9da3c;
		font-size: 0.8rem;
		margin-top: 2rem;
		text-align: center;

		.container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 1rem;
			@media (min-width: 600px) {
				flex-direction: row;
				justify-content: space-between;
				padding: 2rem;
			}

			img {
				width: 1.5rem;
				display:inline-block; 
				align: center;
				vertical-align: middle;
				margin-right: 0.4rem;
			}
		}
		a {
			color: var(--color-primary);
			text-decoration: none;
		}
	}
</style>
