---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../config'
---

<header>
	<div class="upper-navbar container">
		<HeaderLink href="/">
			<img src="/images/escut_casb.png" alt="Imatge de l'escut del Creu Alta Sabadell Bàsquet" class="escut">
		</HeaderLink>
		<div class="header-nav">
			<nav>
				<HeaderLink href="/">
					<img src="/images/home.svg" alt="Home logo">
				</HeaderLink>
				<HeaderLink href="/onsom" title="On Som?">
					<img src="/images/location.svg" alt="Location logo">
				</HeaderLink>
				<HeaderLink href="/noticies" title="Noticies">
					<img src="/images/news.svg" alt="News logo" class="news-logo">
				</HeaderLink>
				<HeaderLink href="/equips" title="Equips">
					<img src="/images/team.svg" alt="Team logo" class="team-logo">
				</HeaderLink>
				<HeaderLink href="/historia" title="Historia">
					<img src="/images/history.svg" alt="History logo" class="history-logo">
				</HeaderLink>
				<HeaderLink href="https://twitter.com/CreuAltaBasquet" target="_blank" title="Twitter">
					<img src="/images/twitter.svg" alt="Twitter logo">
				</HeaderLink>
				<HeaderLink href="https://www.instagram.com/creualtabasquet" target="_blank" title="Instagram">
					<img src="/images/instagram.svg" alt="Instagram logo">
				</HeaderLink>		
			</nav>
			
			<HeaderLink href="/">
				<h1>{SITE_TITLE}</h1>
			</HeaderLink>
		</div>
	</div>
</header>

<style lang="scss">
header {
	background: var(--color-bg);
	width: 100%;
	padding-top: 0.8rem;
	margin: 0;

	@media (min-width: 600px) {
		padding: 2rem 0rem 0rem;
	}
}
.team-logo {
	color: white;
}
.upper-navbar {
	display: flex;
	flex-direction: row;
	.escut {
		width: 95px;
		height: 105px;
		min-width: 95px;
		margin-right: 50px;
	}
	.header-nav {
		width: 100%;
	}
	nav {
		display: flex;
		flex-direction: row;
		justify-content: end;
		width: 100%;
		height: 32px;
		gap: 1rem;
		
		img {
			width: 20px;
		}
		@media (min-width: 600px) {
			gap: 2rem;
			img {
				width: 32px;
			}
		}
	}
	h1 {
		font-family: 'Helvetica', sans-serif;
		font-size: 1.2rem;
		color: white;
		text-align: center;
		@media (min-width: 600px) {
			font-size: 2rem;
		}
	}
	a {
		color: white;
		font-size: 1.5rem;
	}
}

</style>
