---
import { SITE_TITLE } from '../config'
import HeaderLink from './HeaderLink.vue'
---

<header class="pt-2 min-h-[100px] sm:min-h-[120px]">
	<div 
		class="upper-navbar container bg-auto bg-no-repeat bg-left mx-auto" 
		style="background-image: url('/images/escut_casb.png');">
		<div class="header-nav w-full">
			<nav class="flex justify-end w-full h-8 gap-4 pr-4">
				<HeaderLink to="/" title="Pàgina principal">
					<img src="/images/home.svg" alt="Home logo">
				</HeaderLink>
				<HeaderLink to="/onsom" title="On Som?">
					<img src="/images/location.svg" alt="Location logo">
				</HeaderLink>
				<HeaderLink to="/noticies" title="Noticies">
					<img src="/images/news.svg" alt="News logo" class="news-logo">
				</HeaderLink>
				<HeaderLink to="/equips" title="Equips">
					<img src="/images/team.svg" alt="Team logo" class="text-white">
				</HeaderLink>
				<HeaderLink to="/historia" title="Història">
					<img src="/images/history.svg" alt="History logo" class="history-logo">
				</HeaderLink>
				<HeaderLink to="https://twitter.com/CreuAltaBasquet" target="_blank" title="Twitter">
					<img src="/images/twitter.svg" alt="Twitter logo">
				</HeaderLink>
				<HeaderLink to="https://www.instagram.com/creualtabasquet" target="_blank" title="Instagram">
					<img src="/images/instagram.svg" alt="Instagram logo">
				</HeaderLink>
				<HeaderLink to="mailto:secretaria@creualtabasquet.cat" target="_blank" title="Email">
					<img src="/images/mail.svg" alt="Mail logo">
				</HeaderLink>	
			</nav>
			
			<h1 class="text-center mt-0 mb-2 pt-4">
				<a href="/" class="text-white text-2xl sm:text-5xl">{SITE_TITLE}</a>
			</h1>
		</div>
	</div>
</header>

<style lang="scss">
	header {
		background: var(--color-bg);
	}
	.upper-navbar {
		background-position: 0.5rem 0rem;
		background-size: 70px 70px;
		nav {
			img {
				&:hover {
					filter: invert(1);
				}
				width: 24px;
			}

		}
		h1 {
			font-family: 'Helvetica', sans-serif;
			text-shadow: 2px 1px #000000;
		}

		@media (min-width: 768px) {
			background-position: 1rem 0rem;
			background-size: 100px 100px;
			nav {
				img {
					width: 32px;
				}
			}
		}
	}
</style>
