---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---


<header>

	<div class="upper-navbar">
		<img src="/images/escut_casb.png" alt="Imatge de l'escut del Creu Alta Sabadell Bàsquet">
		<nav>
			<HeaderLink href="/">Inici</HeaderLink>
			<HeaderLink href="/historia">Historia</HeaderLink>
			<HeaderLink href="/onsom">On Som</HeaderLink>
			<HeaderLink href="https://twitter.com/CreuAltaBasquet" target="_blank">Twitter</HeaderLink>
			<HeaderLink href="https://www.instagram.com/creualtabasquet" target="_blank">Instagram</HeaderLink>
		</nav>
	</div>
	<h1>
		{SITE_TITLE}
	</h1>
	
</header>
<style lang="scss">
	.upper-navbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		img {
			margin-right: 50px;
		}

		
		a {
			color: white;

		}
	}
	header {
		background: linear-gradient(180deg, #1F71B6, #7dbceb);
		padding: 1rem 0rem;
	}
	h1 {
		font-size: 2rem;
		color: white;
	}

</style>
