---

---

<div class="sections">
  <a href="/noticies">
    <img src="/images/news.svg" alt="News Icon">
    <div>Noticies</div> 
  </a>
  <a href="/equips">
    <img src="/images/team.svg" alt="Team Icon">
    <div>Equips</div>
  </a>
    <a href="https://customify.es/creualta">
    <img src="/images/history.svg" alt="Botiga Icon">
    <div>Botiga Oficial</div>
  </a>
</div>

<style lang="scss">
  .sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 2rem 0;
    @media (min-width: 600px) {
      .container {
        grid-gap: 2rem;
      }
    }
  }
  .sections a {
    border: 2px solid var(--color-secondary);
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightblue;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    @media (min-width: 600px) {
      border-radius: 10px;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    img {
      filter: invert(1);
      width: 50px;
      @media (min-width: 600px) {
        width: 100px;
      }
    }
    
    &:hover {
      background-color: var(--color-secondary);
      color: white;
      img {
        filter: invert(0);
      }
      
    }
  }
</style>