---

---

<div class="sections grid grid-cols-3 gap-4 mb-4 sm:mb-6 mx-0">
  <a 
    href="/noticies" 
    class="group">
    <img src="/images/news.svg" alt="News Icon" class="group-hover:invert-0">
    <h3>Noticies Club</h3> 
  </a>
  <a 
    href="/equips"
    class="group">
    <img src="/images/team.svg" alt="Team Icon" class="group-hover:invert-0">
    <h3>Secció Equips</h3>
  </a>
  <a 
    href="https://customify.es/creualta" target="_blank" 
    class="group">
    <img src="/images/shop.svg" alt="Botiga Icon" class="group-hover:invert-0">
    <h3>Botiga Oficial</h3>
  </a>
</div>

<style lang="scss">
  a {
    @apply hover:text-white hover:bg-blue-300 border-4 border-blue-300 sm:text-2xl 
      shadow-lg rounded-lg sm:rounded-xl font-bold mb-2 p-4 text-center uppercase;
  }
  img  {
    @apply m-auto w-12 invert;
  }
  h3 {
    margin-top: 0.5rem;
  }

</style>