---
import mitsport from './images/mitsport.jpg'
import cjb from './images/penya.gif'
import superwagen from './images/superwagen.png'
import infoserveis from './images/infoserveis.png'
import exes from './images/exes.png'
import ars from './images/ars.png'
import agnes from './images/agnes.png'
import contrast from './images/contrast_200x80.png'
import march2 from './images/march2.png'
import winzule from './images/winzule.png'

const sponsorList = [
  {
    alt: 'MitSport',
    href: 'https://mitsport-shop.com/creualta/',
    src: mitsport,
    target: '_blank'
  },
  {
    alt: 'CJB',
    href: 'https://www.penya.com/ca/',
    src: cjb,
    target: '_blank'
  },
  {
    alt: 'Superwagen',
    href: 'https://www.superwagen.com/',
    src: superwagen,
    target: '_blank'
  },
  {
    alt: 'Infoserveis',
    href: 'https://www.infoserveis.cat/',
    src: infoserveis,
    target: '_blank'
  },
  {
    alt: 'Expofinques',
    href: 'http://www.exessabadellcentre.com',
    src: exes,
    target: '_blank'
  },
  {
    alt: 'Ars Salut Esportiva',
    href: 'https://arssalutesportiva.com/',
    src: ars,
    target: '_blank'
  },
  {
    alt: 'Agnes',
    href: '#',
    src: agnes,
    target: ''
  },
  {
    alt: 'Contrast',
    href: 'http://www.contrastrestaurant.cat/',
    src: contrast,
    target: '_blank'
  },
  {
    alt: 'Assessors March',
    href: '#',
    src: march2,
    target: ''
  },
  {
    alt: 'Winzule',
    href: '#',
    src: winzule,
    target: ''
  }
]

const shuffle = (array) => {
  let currentIndex = array.length,  randomIndex;
  while (currentIndex != 0) {
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex--;
    [array[currentIndex], array[randomIndex]] = [
      array[randomIndex], array[currentIndex]];
  }
  return array;
}
---

<div class="sponsors">
  <h3>Patrocinadors</h3>
  
  <div class="sponsor-list">
    {shuffle(sponsorList).map((sponsor, index) => (
      <div class="sponsor-item">
        <a href={sponsor.href} target={sponsor.target}>
          <img alt={sponsor.alt} src={sponsor.src} />
        </a>
      </div>
    ))}
  </div>
</div>

<style lang="scss">

h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 3rem 0 1rem;
  color: var(--color-primary);
}
.sponsor-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sponsor-item {
  display: block;
  max-width: 300px;
  max-height: 100%;
  width: 45%;
  height: auto;
  margin: 0rem;
  text-align: center;
  padding: 0.1rem;

  @media (min-width: 600px) {
    width: 250px;
  }
}
</style>